# MapTiler API Key (https://www.maptiler.com/)
NEXT_PUBLIC_MAPTILER_KEY=your_maptiler_api_key

# OpenWeather API Key (https://openweathermap.org/)
NEXT_PUBLIC_OPENWEATHER_KEY=your_openweather_api_key

# Map Style
NEXT_PUBLIC_MAP_STYLE_LIGHT=https://api.maptiler.com/maps/jp-mierune-streets/style.json

# Defaults
NEXT_PUBLIC_DEFAULT_CITY=tokyo
